:root {
  --background: #FFF8DE;
  --azul-primario: #AAC4F5;
  --preto-secundario: #393E46;
  --azul-secundario:#8CA9FF;
  --preto--terciario: #222831;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

.box_principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}

.inserts_box {
  background: var(--azul-primario);
  min-width: 20vw;
  min-height: 50vh;
  margin-top: 25vh;

  border-radius: 1vmax;
  border: solid var(--preto-secundario) 5px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;


}

.inserts_box_content {
  display: flex;
  flex-direction: column;
  flex-shrink:inherit ;
  flex-wrap: wrap;

  justify-content: space-evenly;

  height: 50vh;
}

.inserts_box_content_final {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 15px;
}

#Finsert_situacao {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#Fbotoes {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;

  gap: 10px;
  width: 15vw;
  height: 3vh;
}