input {
    background-color: #EEEEEE;
    border: 0px none;
    border-radius: 10px;

    text-align: center;
}

label {

    color: black;
    text-align: center;
    font-size: large;
}

button {

    cursor: pointer;
    font-size: large;
    background-color: var(--background);
    border: 0px none;
    border-radius: 10px;
    border-radius: 10px;

}

.titulo_delete {
    border-radius: 10px;

    color: black;
    text-align: center;
}

.valores_delete {
    border-radius: 10px;
    background-color: var(--background);
    color: black;
    text-align: center;
}